.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-start
}

.full-width {
  width: 80%;
  display: flex;
  align-items: center;
}

#title {
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

::ng-deep .mat-mdc-form-field-infix {
  display: flex;
  align-items: center;
}