<div class="container">
    <form class="form" #searchForm="ngForm">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Search</mat-label>
            <input type="text"
                placeholder="Enter for search"
                aria-label="Number"
                matInput
                [(ngModel)]="searchQuery"
                name="searchQuery"
                (ngModelChange)="searchUsers()">
            <mat-icon color="primary">search</mat-icon>
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="openForm()">Add User</button>
</div>